nav{
    background-color: rgb(149, 149, 255);
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
}
body{
    margin: 0;
    height:150VH;
}
#dantefocus{
    width:100%;
    height: 50%;
}
#vergilfocus{
    width:100%;
    height: 50%;
}